body {
    color: #303030;
    font-family: "Sen";
    height: 100%;
}

/* Grande animation commerciale desktop */
.animation {
    background-image: url("../src/img/fille.jpg");
    background-size: cover;
    background-position: bottom -150px right 0px;
    height: 400px;
    font-family: 'Sue Ellen Francisco', cursive;
}

/* Grande animation commercial mobile */
.animation-mobile {
    background-image: url("../src/img/fille.jpg");
    background-size: cover;
    background-position: bottom 0 right -250px;
    height: 400px;
    font-family: 'Sue Ellen Francisco', cursive;
}

/*Titre grande animation commerciale*/
h1 {
    font-size : 300%;
}

/* Pattern petites animations commerciales*/
.pattern {
    background-image: url("../src/img/pattern1.jpg");
    background-size: repeat;
    height: 400px;
}

.caption {
    color: #303030;
    font-size: 1rem;
}


/* Valeurs */
.valeur-custom {
    width: 70px;
    height: 70px;
}

.valeurs-bg {
    background-color:#fde6e3;
}

/*Suivez-nous mobile*/
.reseaux {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size : 1.5rem;
}

.bg-suivez-mobile {
    background-image: url("../src/img/vanilla.jpg");
}

/*Suivez-nous desktop*/
.reseaux-desk {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size : 2rem;
}

.background-reseaux {
    background-color: white;
}

.heart {
    height: 30px;
    width:30px;
}

/*Boutons*/
.bouton {
    background-color: #aadfef ;
    border: none;
}

.bouton:hover {
    background-color:#fde6e3;
    color: lightslategrey;
}

.valeur {
    font-size : 20px;;
}
